<div class="bg-white h-screen py-10">
    <h1 class="text-3xl font-bold  text-black mb-6 ml-5">User Management
    </h1>
    <p *ngIf="loading" class="text-center text-gray-500 italic">Loading...</p>

    <div *ngIf="!loading" class="overflow-x-auto">
        <table class="w-full  max-w-8xl mx-auto ">
            <thead class="bg-gray-300 text-gray-700">
                <tr class="text-sm font-semibold uppercase tracking-wide">
                    <th class="px-5 py-3 text-left ">Name</th>
                    <th class="px-5 py-3 text-left">Email</th>
                    <th class="px-5 py-3 text-left">Role</th>
                    <th class="px-5 py-3 text-left">Username</th>
                    <th class="px-5 py-3 text-left">Status</th>

                </tr>
            </thead>
            <tbody class="text-gray-800">
                <tr *ngFor="let user of users"
                    class="border-t border-gray-200 hover:bg-slate-200 hover:text-black transition duration-150">
                    <td class="px-5 py-3 font-medium">{{ user.firstName }} {{ user.lastName }}</td>
                    <td class="px-5 py-3">{{ user.email }}</td>
                    <td class="px-5 py-3 capitalize">{{ user.role }}</td>
                    <td class="px-5 py-3">{{ user.username }}</td>
                    <td class="px-5 py-3 font-semibold cursor-pointer hover:underline"
                        [ngClass]="user.enabled ? 'text-green-600' : 'text-red-600'"
                        (click)="handleBlockUser(user.email)">
                        {{ user.enabled ? 'ACTIVE' : 'BLOCKED' }}
                    </td>

                </tr>
            </tbody>


        </table>

    </div>

</div>