<div class="min-h-screen bg-gray-100">

    <!-- Sidebar -->
    <div class="fixed inset-y-0 left-0 w-64 bg-purple-800 text-white">
        <div class="p-4 border-b border-purple-700">
            <h1 class="text-xl font-bold">Admin Dashboard</h1>
        </div>
        <nav class="p-4 space-y-2 ">
            <a href="/admin" class="block py-2 px-4 bg-purple-700 rounded-md">Dashboard</a>
            <a href="/admin/users" class="block py-2 px-4 bg-purple-700 rounded-md mt-10">User Management</a>
            <a href="/admin/resumes" class="block py-2 px-4 bg-purple-700 rounded-md">Resume Management</a>
        </nav>
    </div>
</div>